<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Layout</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>

        <header>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" th:fragment="navbar(name)">
                <a class="navbar-brand" href="#">TwitWee</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/myWall}">Home page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/myPosts}">My posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/myAlbum}">My Album</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/search}">Search</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Log out</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span th:text="'Logged in as ' + ${name}"></span></a>
                        </li> 
                    </ul>
                </div>  
            </nav>
        </header>

        <!--==================================================================================-->


        <div class="col-sm-4">

            <div th:fragment="aboutMe">
                <h3>About me</h3>
                <div th:if="${user.profilePic == null}">
                    <img class="rounded-circle" th:src="@{/img/default.png}" height="130" alt="defaultProfilePic">
                </div>
                <div th:unless="${user.profilePic == null}">
                    <img class="rounded-circle" th:src="@{/myAlbum/{id}(id=${user.profilePic.id})}" width="130" height="130">
                </div><br>

                <div class="container">
                    <h5>Name:</h5> 
                    <p th:text="${user.firstname} + ' ' + ${user.familyname}">name</p>
                </div>
            </div>

        </div>

        <!--==================================================================================-->

        <div th:fragment="posts">

            <div th:if="${messages.empty}">
                <p>No messages yet. Post one!</p>
            </div>

            <div class="container mt-3" style="margin-top:30px">
                <div class="media border p-3" th:each="message: ${messages}">

                    <div th:fragment="image">
                        <div th:if="${message.user.profilePic == null}">
                            <img class="mr-3 mt-3 rounded-circle" th:src="@{/img/default.png}" alt="defaultPic" width="70px;">
                        </div>
                        <div th:unless="${message.user.profilePic == null}">
                            <img class="mr-3 mt-3 rounded-circle" th:src="@{/myAlbum/{id}(id=${message.user.profilePic.id})}" alt="profilePic" width="70px;" height="70px;">
                        </div>
                    </div>

                    <div class="media-body" >
                        <div th:fragment="mediaBodyWithoutLike">
                            <h5 th:text="${message.user.firstname} + ' ' + ${message.user.familyname}"></h5>

                            <small><i th:text="'Posted on ' +  ${#temporals.format(message.time, 'HH.mm dd.MM.yyy')}"></small></i>

                            <p th:text="${message.content}">message content</p> 

                            <div th:if="${message.picture != null}">
                                <img class="img-fluid" th:src="@{/myAlbum/{id}(id=${message.picture.id})}" alt="${message.picture.name}" width="200" height="200" >
                            </div>

                            <a th:href="@{/myWall/messages/{messageId}/comments/{visitedSignal}(messageId=${message.id}, visitedSignal=${signal})}">Comments </a>
                        </div>

                        <form th:action="@{/myWall/likes/{messageId}(messageId=${message.id})}" method="POST">
                            <input type="submit" value="Like!" /> <span th:text="${message.likes.size()} + ' likes'">likes</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <!--==================================================================================================-->
        
        <div class="media-body" >
            <div th:fragment="mediaBody">
                <h5 th:text="${message.writer.firstname} + ' ' + ${message.writer.familyname}"></h5>

                <small><i th:text="'Posted on ' +  ${#temporals.format(message.time, 'HH.mm dd.MM.yyy')}"></i></small>

                <p th:text="${message.content}">message content</p> 

                <div th:if="${message.picture != null}">
                    <img class="img-fluid" th:src="@{/myAlbum/{id}(id=${message.picture.id})}" alt="${message.picture.name}" width="200" height="200" >
                </div>
            </div>
        </div>

        <div class="container" th:fragment="footer">
            <footer class="footer mt-auto py-3">
                <small class="text-muted">TwitWee &copy; 2019</small>
            </footer>
        </div>

    </body>
</html>

