<!DOCTYPE html>
<html>
    <head>
        <title>Album</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>

        <header th:replace="fragments/layout :: navbar(name=${user.firstname} + ' ' + ${user.familyname})"></header>

        <main style="margin-top:100px">
            <div class="container">

                <div style="margin-bottom: 20px">
                    <h3>New Picture</h3>
                </div>

                <form th:action="@{/myAlbum}" method="POST" enctype="multipart/form-data" class="form-group">
                    <input type="file" name="file" id="inputPic"/> <br><br>
                    <textarea class="form-control" name="text" rows="5" placeholder="Description" style="margin-bottom: 20px"></textarea>
                    <button type="submit" class="btn btn-primary btn-sm" id="fileButton">Post</button>
                    <span th:if="${error != null}" class="text-danger" th:text="${error}">Error</span>
                </form>

                <div class="container" style="margin-top:50px;">
                    <h3>My Album</h3>
                    <div class="media border p-3" th:each="p : ${pictures}">
                        <div th:if="${p.user.profilePic == null}">
                            <img class="mr-3 mt-3 rounded-circle" th:src="@{/img/default.png}" alt="default" width="70px;">
                        </div>
                        <div th:unless="${p.user.profilePic == null}">
                            <img class="mr-3 mt-3 rounded-circle" th:src="@{/myAlbum/{id}(id=${p.user.profilePic.id})}" alt="profilePic" width="70px;" height="70px;">
                        </div>

                        <div class="media-body" >
                            <span th:text="${p.message.content}" style="margin-bottom: 20px">message of the pic</span>
                            <h6><small><i th:text="'Posted on ' + ${#temporals.format(p.message.time, 'HH.mm dd.MM.yyy')}"  style="margin-bottom: 20px"></i></small></h6>
                            <a th:href="@{/myAlbum/{pId}(pId=${p.id})}">
                                <img class="img-fluid" alt="${p.name}" th:src="@{/myAlbum/{id}(id=${p.id})}" width = "200" height = "150">
                            </a><br><br>

                            <form th:action="@{/myAlbum/delete/{picId}(picId=${p.id})}" method="POST" id="deletePic">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                            <form th:action="@{/myAlbum/profilePic/{picId}(picId=${p.id})}" method="POST" style="margin-top: 10px">
                                <button type="submit" class="btn btn-info btn-sm">Set as my profile picture</button>
                            </form><br>

                            <form th:action="@{/myAlbum/likes/{messageId}(messageId=${p.message.id})}" method="POST">
                                <button type="submit" class="btn btn-outline-success">Like!</button> 
                                <span th:text="${p.message.likes.size()} + ' likes'">likes</span>
                            </form>

                            <a th:href="@{/myWall/messages/{messageId}/comments/{signal}(messageId=${p.message.id}, signal=${user.signal})}">Comments</a>

                        </div>
                    </div>
                </div>

            </div>
        </main>

        <footer th:replace="fragments/layout :: footer"></footer>
    </body>
</html>