<!DOCTYPE html>
<html>
    <head th:replace="fragments/layout :: head">
        <title>Album</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div th:replace="fragments/layout :: navbar(name=${user.firstname} + ' ' + ${user.familyname})"></div>
        
        <div class="container" style="margin-top:30px">
            
            <form th:action="@{/myAlbum}" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" /> 
                <input type="text" name="text" placeholder="Add a description" /> 
                <input type="submit" value="Send!"/>
                <span th:if="${error != null}" class="text-danger" th:text="${error}">Error</span>
            </form>

            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="p : ${pictures}">
                    <p th:text="${p.message.content}">message of the pic</p>
                    <a th:href="@{/myAlbum/{pId}(pId=${p.id})}">
                        <img class="img-fluid" alt="${p.name}" th:src="@{/myAlbum/{id}(id=${p.id})}" width = "200" height = "150">
                    </a><br><br>

                    <form th:action="@{/myAlbum/delete/{picId}(picId=${p.id})}" method="POST">
                        <input type="submit" value="Delete" />
                    </form>
                    <form th:action="@{/myAlbum/profilePic/{picId}(picId=${p.id})}" method="POST">
                        <input type="submit" value="Set as my profile picture" />
                    </form><br>

                    <form th:action="@{/myAlbum/likes/{messageId}(messageId=${p.message.id})}" method="POST">
                        <input type="submit" value="Like!" /> <span th:text="${p.message.likes.size()} + ' likes'">likes</span>
                    </form>

                    <a th:href="@{/myAlbum/messages/{messageId}/comments/(messageId=${p.message.id})}">Comments</a>
                </li>
            </ul>
            
        </div>
    </body>
</html>