<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="My Album" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:action="@{/{userId}/myAlbum(userId=${user.id})}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="Send!"/>
        </form>
        
        <ul>
            <li th:each="p : ${pictures}">
                <a th:href="@{/{userId}/myAlbum/{pId}(userId=${user.id}, pId=${p.id})}"><span th:text="${p.name}">picture name</span></a>
            </li>
        </ul>

    </body>
</html>
<!--        <form action="/action_page.php">
            Select a file: <input type="file" name="myFile"><br><br>
            <input type="submit">
        </form>
        
        // password is hidden
        <form action="/action_page.php">
            Email: <input type="text" name="email"><br>
            Password: <input type="password" name="pwd" maxlength="8"><br>
            <input type="submit">
        </form>
        
         button or form that can set the picture as a profile pic-->