<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Comment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a th:href="@{/myWall}">My wall</a><br><br>

        <div th:if="${comments.empty}">
            No Comments yet. Be the first one!
        </div>

        <div th:each="c: ${comments}">
            <fieldset>
                <legend th:text="${c.writer.firstname} + ' ' + ${c.writer.familyname}">Comment writer</legend>
                <p th:text='${c.content}'>Comment</p>
                Time: <span th:text='${c.time}'>Posted time</span>
            </fieldset> 
        </div>


        <form th:action="@{/myWall/messages/{messageId}/comments(messageId=${messageId})}" method="POST">
            <input type="text" name ="comment" placeholder="Add a comment..." /> <br>
            <input type="submit" value="Comment! " />
        </form>

    </body>
</html>