<!DOCTYPE html>

<html>
    <head>
        <title>Comment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>

    <body>

        <header th:replace="fragments/layout :: navbar(name=${user.firstname} + ' ' + ${user.familyname})"></header>
        <!--<a th:href="@{/profile/{signal}(signal=${signal})}">Back to visit</a>-->

        <main style="margin-top:100px">
            <div class="container">
                <h3>Add a comment</h3>

                <form th:action="@{/myWall/messages/{messageId}/comments/{signal}(messageId=${messageId}, signal=${signal})}" method="POST" class="form-group" >
                    <textarea class="form-control" name="comment" rows="3" placeholder="Add a comment..." style="margin-bottom: 20px"></textarea> 
                    <span th:if="${error != null}" class="text-danger" th:text="${error}">commentEmpty error</span>
                    <button type="submit" class="btn btn-primary btn-sm">Comment</button>
                </form>

                <div class="container" style="margin-top:30px">
                    <h3>Comments</h3>
                    <div th:if="${comments.empty}">
                        No Comments yet. Be the first one!
                    </div>

                    <div class="container" th:each="c : ${comments}" style="margin-top:30px">
                        <div class="media border p-3">

                            <div th:if="${c.writer.profilePic == null}">
                                <img class="mr-3 mt-3 rounded-circle" th:src="@{/img/default.png}" alt="default" width="50px;">
                            </div>
                            <div th:unless="${c.writer.profilePic == null}">
                                <img class="mr-3 mt-3 rounded-circle" th:src="@{/myAlbum/{id}(id=${c.writer.profilePic.id})}" alt="profilePic" width="70px;" height="70">
                            </div>

                            <div class="media-body" >
                                <h5 th:text="${c.writer.firstname} + ' ' + ${c.writer.familyname}">Comment writer</h5>

                                <small><i th:text="'Posted on ' +  ${#temporals.format(c.time, 'HH.mm dd.MM.yyy')}">time</i></small><br><br>

                                <p th:text="${c.content}">comment content</p> 
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </main>

    </body>
</html>