<!DOCTYPE html>

<html>
    <head>
        <title>Comment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a th:href="@{/myWall}">My wall</a><br><br>
        <a th:href="@{/myAlbum}">My album</a><br><br>

        <div th:if="${comments.empty}">
            No Comments yet. Be the first one!
        </div>

        <div th:each="c: ${comments}">
            <fieldset>
                <legend th:text="${c.writer.firstname} + ' ' + ${c.writer.familyname}">Comment writer</legend>
                <p th:text='${c.content}'>Comment</p>
                Time: <span th:text='${c.time}'>Posted time</span>
            </fieldset> 
        </div>

        <form th:action="@{/myWall/messages/{messageId}/comments(messageId=${messageId})}" method="POST">
            <table>
                <tr>
                    <td><input type="text" name ="comment" placeholder="Add a comment..." /></td>
                    <td th:if="${error != null}" th:text="${error}">commentEmpty error</td>
                    <!--<td th:if="${#fields.hasErrors('content')}" th:errors="*{content}">commentEmpty error</td>-->
                </tr>
                <tr>
                    <td><input type="submit" value="Comment! " /></td>
                </tr>
                
            </table>
        </form>
        
    </body>
</html>