<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body>

        <!--<h1 th:text="${'Hello ' + message}">Hello world</h1>-->
        <form th:action="@{/login}" method="POST">
            <input type="submit" value="Log in with an existed account" />
        </form>
        <form th:action="@{/register}" method="POST">
            <input type="submit" value="Register a new account" />
        </form>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" name="logout" value="Log out"/>
        </form>

    </body>
</html>
