<!DOCTYPE html>

<html>
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="css/signup.css" type="text/css">-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <style>
            html,
            body {
                height: 100%;
                background-color: #f5f5f5;
            }

            .form-signup {
                width: 100%;
                max-width: 500px;
                padding: 15px;
                margin: auto;
                margin-top: 60px;
            }

            .form-label-group {
                position: relative;
                margin-bottom: 1rem;
            }

            .form-label-group input::placeholder {
                font-size: 16px;
            }
        </style>
    </head>
    <body>

        <form th:action="@{/register}" method="POST" class="form-signup">

            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
            </div>

            <div class="form-label-group row">
                <label for="username" class="col-4 col-form-label">Username:</label>
                <div class="col-8">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Enter username" required />
                    <span th:if="${unique != null}" class="text-danger" th:text="${unique}"></span>
                </div>
            </div>

            <div class="form-label-group row">
                <label for="firstname" class="col-4 col-form-label">First name:</label>
                <div class="col-8">
                    <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Enter first name" required />
                </div>
            </div>

            <div class="form-label-group row">
                <label for="familyname" class="col-4 col-form-label">Family name:</label>
                <div class="col-8">
                    <input type="text" name="familyname" id="familyname" class="form-control" placeholder="Enter family name" required />
                </div>
            </div>

            <div class="form-label-group row">
                <label for="psw" class="col-4 col-form-label">Password:</label>
                <div class="col-8">
                    <input type="password" name="password" id="psw" class="form-control" placeholder="Enter password" required />
                </div>
            </div>

            <div class="form-label-group row">
                <label for="signal" class="col-4 col-form-label">String:</label>
                <div class="col-8">
                    <input type="text" name="signal" id="signal" class="form-control" placeholder="Set a string for you profile" required />
                    <small id="stringHelpInline" class="text-muted col-4">
                        Must be 4-20 characters long.
                    </small>
                    <p th:if="${signalUnique != null}" class="text-danger" th:text="${signalUnique}"></p>
                    <p th:if="${signalLength != null}" class="text-danger" th:text="${signalLength}"></p>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-primary" type="submit">Sign up</button>
            </div>

        </form>

        <footer th:replace="fragments/layout :: footer"></footer>

    </body>
</html>