<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="#" th:action="@{/register}" th:object="${account}" method="POST">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" th:field="*{username}" /></td>
                    <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username errors</td>
                    <td th:if="${unique != null}" th:text="${unique}"></td>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td><input type="text" th:field="*{firstname}" /></td>
                    <td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">firstname errors</td>
                </tr>
                <tr>
                    <td>Family name:</td>
                    <td><input type="text" th:field="*{familyname}" /></td>
                    <td th:if="${#fields.hasErrors('familyname')}" th:errors="*{familyname}">familyname errors</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password errors</td>
                </tr>
                <tr>
                    <td>Password for profile:</td>
                    <td><input type="password" th:field="*{signal}" /></td>
                    <td th:if="${#fields.hasErrors('signal')}" th:errors="*{signal}">signal errors</td>
                </tr>
                <tr>
                    <td><input name="submit" type="submit" value="register" /></td>
                </tr>
            </table>
        </form>

        <ol>
            <li th:each="account : ${accounts}">
                <span th:text="${account.username}">msg</span>
            </li>
        </ol><br><br>

        <a th:href="@{/login}" >Log in</a>
        <!--            <input type="submit" value="Log in" />
                </form>-->
    </body>
</html>
