<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Search</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div th:if="${findings == null}">
            <p>Start searching!</p>
        </div>
        
        <div th:unless="${findings == null}">
            <div th:if="${findings.empty}">
                <p>No match. Please check the name</p>
            </div>
        </div>

        <ul>
            <li th:each="person:${findings}">
                <span th:text="${person.firstname}">etunimi</span>
                <span th:text="${person.familyname}">sukunimi</span>
                <span th:text="${person.username}">tunnus</span>
                <form th:action="@{/search/${familyname}/${firstname}}" method="POST">
                    <input type="submit" value="Follow" />
                </form>
            </li>
        </ul>
        <br>
        <br>
        
        <p>Search users: </p>
        <form th:action="@{/search}" method="POST">
            First name: <input type="text" name="firstname"/></br>
            Family name: <input type="text" name="familyname" /></br></br>
            <input type="submit" value="Search!"/>
        </form>
    </body>
</html>
