<!DOCTYPE html>

<html>
    <head th:replace="fragments/layout :: head">
        <title>TwitterWall</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    
    <body>
        <header th:replace="fragments/layout :: navbar(name=${user.firstname} + ' ' + ${user.familyname})"></header>

        <main class="mt-5">
            <div class="container" style="margin-top:100px">
                <div class="row"> 
                    <div class="col-sm-4">
                        <div th:replace="fragments/layout :: aboutMe"></div>

                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a href="#following" data-toggle="collapse">
                                    <div class="container"><h5><small><span th:text="'Follow ' + ${followings.size()}">how many</span></small></h5></div>
                                </a>
                            </li>
                            <div id="following" class="collapse"><br>
                                <div class="container"><h5>Following: </h5></div>
                                <ul class="list-group list-group-flush" th:fragment="following">
                                    <li class="list-group-item" th:each="f : ${followings}">
                                        <a th:href="@{/profile/{signal}(signal=${f.signal})}">
                                            <span th:text="${f.firstname} + ' ' + ${f.familyname}" style='margin-bottom: 20px'>name</span>
                                        </a>
                                        <h6><small><i th:text="'Started from ' +  ${#temporals.format(f.time, 'HH.mm dd.MM.yyyy')}"></i></small></h6>
                                        <form th:action="@{/myWall/deleteFollowing/{followingId}(followingId=${f.following})}" method="POST" style='margin-top: 20px'>
                                            <button type="submit" class='btn btn-danger btn-sm'>Cancel</button>     
                                        </form>
                                    </li>
                                </ul>
                            </div>

                            <li class="nav-item">
                                <a href="#follower" data-toggle="collapse">
                                    <div class="container"><h5><small><span th:text="'Followers ' + ${followers.size()}">how many</span></small></h5></div>
                                </a>
                            </li>
                            <div id="follower" class="collapse"><br>
                                <div class="container"><h5>Follower: </h5></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" th:each="f : ${followers}">
                                        <a th:href="@{/profile/{signal}(signal=${f.signal})}">
                                            <span th:text="${f.firstname} + ' ' + ${f.familyname}" style='margin-bottom: 20px'>name</span>
                                        </a>
                                        <h6><small><i th:text="'Started from ' +  ${#temporals.format(f.time, 'HH.mm dd.MM.yyyy')}"></i></small></h6>
                                        <form th:action="@{/myWall/deleteFollower/{followerId}(followerId=${f.follower})}" method="POST" style='margin-top: 20px'>
                                            <button type="submit" class='btn btn-danger btn-sm'>Block</button>  
                                        </form>
                                    </li>
                                </ul>
                            </div>

                        </ul>

                    </div>


                    <div class="col-8">
                        <h3 style="margin-bottom: 20px">New post</h3>
                        
                        <form th:action="@{/myWall}" method="POST" class="form-group" >
                            <textarea class="form-control" name="content" rows="5" placeholder="New post..." style="margin-bottom: 20px"></textarea> 
                            <span th:if="${error != null}" class="text-danger" th:text="${error}">messageEmpty error</span>
                            <button type="submit" class="btn btn-primary btn-sm">Post</button>
                        </form><br><br>

                        <h3>Posts</h3>
                        <div th:unless="${msgFList.empty}">

                            <div class="container mt-3" style="margin-top:30px">
                                <div class="media border p-3" th:each="message : ${msgFList}">

                                    <div th:if="${message.writer.profilePic == null}">
                                        <img class="mr-3 mt-3 rounded-circle" th:src="@{/img/default.png}" alt="default" width="50px;">
                                    </div>
                                    <div th:unless="${message.writer.profilePic == null}">
                                        <img class="mr-3 mt-3 rounded-circle" th:src="@{/myAlbum/{id}(id=${message.writer.profilePic.id})}" alt="profilePic" width="70px;" height="70">
                                    </div>

                                    <div class="media-body" >
                                        <div th:replace="fragments/layout :: mediaBody"></div>

                                        <form th:action="@{/myWall/likes/{messageId}(messageId=${message.messageIdentity})}" method="POST" style="margin-top: 20px">
                                            <button type="submit" class="btn btn-outline-success">Like!</button>
                                            <span th:text="${message.likes} + ' likes'">likes</span>
                                        </form>

                                        <a th:href="@{/myWall/messages/{messageId}/comments/{signal}(messageId=${message.messageIdentity}, signal=${user.signal})}">Comments </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <footer th:replace="fragments/layout :: footer"></footer>

    </body>
</html>
