<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TwitterWall</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        First name: <span th:text="${user.firstname}">etunimi</span></br>
        Family name: <span th:text="${user.familyname}">sukunimi</span></br>
        Username: <span th:text="${user.username}">käyttäjätunnus</span>
        <br>
        Messages:
        <div th:if="${messages.empty}">
            <p>No messages yet. Post one!</p>
        </div>
        <div>
        <ul>
            <li th:each="m : ${messages}">
                <p th:text="${m.content}">message content</p> 
                Posted by: <span th:text="${m.user.username}">Message writerritter</span><br>
                Time: <span th:text="${m.date}">Time</span>  <span th:text="${m.time}">time</span><br>
                <a th:href="@{/{userId}/messages/{messageId}/comment(userId=${user.id}, messageId=${m.id})}">Add a comment</a> <br>

                <form th:action="@{/{userId}(userId=${user.id})}" method="POST">
                    <input type="submit" value="Like!" />
                </form>

                <br><br>
                Comments:
                <div th:if="${m.comments.empty}">
                    <p>No comments yet. Leave a comment!</p>
                </div>
                <ul>
                    <li th:each="c : ${m.comments}">
                        <span th:text="${c.content}">Comment content</span><br>
                        commented by: <span th:text="${c.writer.username}">Comment writer</span><br>
                        Time: <span th:text="${c.date}"> Comment date</span>  <span th:text="${c.time}">Comment time</span><br>
                    </li>
                </ul>

            </li>
        </ul>
        </div>
        <br>
        <form th:action="@{/{userId}(userId=${user.id})}" method="POST" >
            <input type="text" name="content" placeholder="New message..." /> <br><br>
            <input type="submit" value="Post" />
        </form>
        
        <br>
        <br>
        
        Following <span th:text="${followings.size()}">how many</span>:
        <div th:if="${followings.size() == 0}">
            <p>Start to follow!</p>
        </div>
        
        <ul>
            <li th:each="f : ${followings}">
                Username: <span th:text="${f.username}">username</span> <br>
                Name: <span th:text="${f.firstname}">first name</span>  <span th:text="${f.familyname}">family name</span> <br><br>
                Time you start to follow: <span th:text="${f.date}">date</span>  <span th:text="${f.time}">time</span>
            </li>
        </ul>
        
        Followers <span th:text="${followers.size()}">how many</span>:
        <div th:if="${followers.size() == 0}">
            <p>You have no followers yet. Get to know more people!</p>
        </div>
        
        <ul>
            <li th:each="f : ${followers}">
                Username: <span th:text="${f.username}">username</span> <br>
                Name: <span th:text="${f.firstname}">first name</span>  <span th:text="${f.familyname}">family name</span> <br><br>
                Time start to follow you: <span th:text="${f.date}">date</span>  <span th:text="${f.time}">time</span>
            </li>
        </ul>
        
        <br>
        <br>
        
        <a th:href="@{/{userId}/search (userId=${user.id})}" >Search!</a>

    </body>
</html>
