<!DOCTYPE html>

<html>
    <head>
        <title>Visit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>

        <header th:replace="fragments/layout :: navbar(name=${firstname} + ' ' + ${familyname})"></header>

        <main style="margin-top:100px">
            <div class="container" style="margin-top:30px">
                <div class="row"> 
                    <div class="col-sm-4">

                        <div th:replace="fragments/layout :: aboutMe"></div>
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a href="#following" data-toggle="collapse">
                                    <div class="container"><h5><small><span th:text="'Follow ' + ${followings.size()}">how many</span></small></h5></div>
                                </a>
                            </li>
                            <div id="following" class="collapse"><br>
                                <div class="container"><h5>Following: </h5></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" th:each="f : ${followings}">
                                        <a th:href="@{/profile/{signal}(signal=${f.signal})}">
                                            <span th:text="${f.firstname} + ' ' + ${f.familyname}" style='margin-bottom: 20px'>name</span>
                                        </a>
                                        <h6><small><i th:text="'Started from ' +  ${#temporals.format(f.time, 'HH.mm dd.MM.yyy')}"></i></small></h6>
                                    </li>
                                </ul>
                            </div>

                            <li class="nav-item">
                                <a href="#follower" data-toggle="collapse">
                                    <div class="container"><h5><small><span th:text="'Followers ' + ${followers.size()}">how many</span></small></h5></div>
                                </a>
                            </li>
                            <div id="follower" class="collapse"><br>
                                <div class="container"><h5>Follower: </h5></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" th:each="f : ${followers}">
                                        <a th:href="@{/profile/{signal}(signal=${f.signal})}">
                                            <span th:text="${f.firstname} + ' ' + ${f.familyname}" style='margin-bottom: 20px'>name</span>
                                        </a>
                                        <h6><small><i th:text="'Started from ' +  ${#temporals.format(f.time, 'HH.mm dd.MM.yyy')}"></i></small></h6>

                                    </li>
                                </ul>
                            </div>

                        </ul>
                    </div>

                    <div class="col-sm-8">
                        <div class="container">
                            <h2 th:text="${user.firstname} + ' ' + ${user.familyname}">'s posts:</h2>
                        </div>

                        <div class="container mt-3" style="margin-top:30px">
                            <div class="media border p-3" th:each="message: ${messages}">
                                <div th:replace="fragments/layout :: image">Media body image</div>
                                <div class="media-body" >
                                    <div th:replace="fragments/layout :: mediaBodyWithoutLike">media body without like</div>
                                    <form th:action="@{/profile/{signal}/likes/{messageId}(signal=${signal}, messageId=${message.id})}" method="POST">
                                        <button type="submit" class="btn btn-outline-success">Like!</button> 
                                        <span th:text="${message.likes.size()} + ' likes'">likes</span>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </body>
</html>
