<!DOCTYPE html>

<html>
    <head>
        <title>Other</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <span th:text="${user.firstname} + ' ' + ${user.familyname}">etunimi</span>
        <a th:href="@{/search}" >Search!</a>
        <br>
        <form method="POST" th:action="@{/logout}">
            <input type="submit" name="Logout" value="Log out" />
        </form>
        <a th:href="@{/myWall}" >Go back to my page</a>
        </br><br>

        <span th:text="${user.firstname} + ' ' + ${user.familyname}"></span>'s posts:

        <div th:each="message: ${messages}">
            <fieldset>
                <legend th:text="${message.user.firstname} + ' ' + ${message.user.familyname}">poster name</legend>
                <p th:text="${message.content}">message content</p> 
                Time: <span th:text="${message.time}">time</span><br>
                <a th:href="@{/myWall/messages/{messageId}/comments(messageId=${message.id})}">Add a comment</a> <br>

                <form th:action="@{/myWall/likes/{messageId}(messageId=${message.id})}" method="POST">
                    <input type="submit" value="Like!" /> <span th:text="${message.likes.size()} + ' likes'">likes</span>
                </form>

                <br><br>
                Comments:
                <div th:if="${message.comments.empty}">
                    <p>No comments yet.</p>
                </div>
                <ul>
                    <li th:each="c : ${message.comments}">
                        <span th:text="${c.content}">Comment content</span><br>
                        commented by: <span th:text="${c.writer.username}">Comment writer</span><br>
                        Time: <span th:text="${c.time}"> Comment time</span><br>
                    </li>
                </ul>
            </fieldset>
        </div>

        <br><br>

        <span th:text="${user.firstname} + ' ' + ${user.familyname}"></span>'s following <span th:text="${followings.size()}">how many</span>:

        <ul>
            <li th:each="f : ${followings}">
                Name: <a th:href="@{/profile/{signal}(signal=${f.signal})}"> <span th:text="${f.firstname} + ' ' + ${f.familyname}">name</span></a><br>
                Time: <span th:text="${f.time}">date</span> <br>
            </li>
        </ul>

        <span th:text="${user.firstname} + ' ' + ${user.familyname}"></span>'s followers <span th:text="${followers.size()}">how many</span>:

        <ul>
            <li th:each="f : ${followers}">
                Name: <a th:href="@{/profile/{signal}(signal=${f.signal})}"><span th:text="${f.firstname} + ' ' + ${f.familyname}">name</span></a> <br>
                Time: <span th:text="${f.time}">date</span> <br>
            </li><br><br>
        </ul>

        <br>

        <div th:if="${followings.size() > 0}">

            <div th:unless="${msgFList.empty}">
                Posts from following: <br><br>

                <div th:each="msgF : ${msgFList}">
                    <fieldset>
                        <legend th:text="${msgF.writerFirstname} + ' ' + ${msgF.writerFamilyname}">message writer</legend>
                        <span th:text="${msgF.content}">msgF content</span><br>
                        <p th:text="${msgF.time}">time</p>


                        <form th:action="@{/myWall/likes/{messageId}(messageId=${msgF.messageIdentity})}" method="POST">
                            <input type="submit" value="Like!" /> <span th:text="${msgF.likes} + ' likes'">likes</span>
                        </form>
                        
                        COUNT!!!!!!!!!!!!!!!!!!
                        <a th:href="@{/myWall/messages/{messageId}/comments(messageId=${msgF.messageIdentity})}">Comments <span th:text="${msgFCount}"></span></a> <br>

                    </fieldset>       
                </div>

            </div>
        </div>

    </body>
</html>
